html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.header {
  max-width: 100%;
  background-color: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffd366;
}

.header h1 a {
  background: url(../img/BMICLogo.png);
  display: block;
  width: 117px;
  height: 117px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  margin: 20px;
}

.header-text {
  padding: 20px;
}

.header-text label {
  display: block;
}

.header-text input {
  margin: 5px 0;
  border-radius: 5px;
  background-color: #424242;
  border: 2px solid #ffd366;
  font-size: 20px;
  color: #ffd366;
}

.header-text .header-alert {
  display: block;
  color: red;
}

.header-send button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ffd366;
  color: #424242;
  font-size: 24px;
  border: none;
  margin: 20px;
  cursor: pointer;
}

.header-send button:hover {
  background-color: #ff982d;
}

.header-send.rst {
  display: none;
}

.header-rst {
  display: none;
}

.header-rst button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #424242;
  font-size: 26px;
  margin: 20px 10px;
  cursor: pointer;
  position: relative;
}

.header-rst button span {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  right: 4px;
  bottom: 4px;
}

.header-rst button h2 {
  font-size: 32px;
}

.header-rst button p {
  font-size: 14px;
  display: block;
}

.header-rst p {
  display: inline-block;
  font-size: 32px;
}

.header-rst.open {
  display: block;
}

.main {
  text-align: center;
  min-height: 100%;
}

.main h2 {
  font-size: 24px;
  padding: 30px;
  font-weight: bold;
}

.main button {
  display: none;
  height: 30px;
  background-color: #ffd366;
  border-radius: 4px;
  border: 2px solid #424242;
  cursor: pointer;
}

.delBtn.on {
  display: block;
  margin: 20px auto;
}

.main-bmi {
  width: 60%;
  margin: 0 auto;
}

.main-bmi li,
.main-bmi div,
.main-bmi h3 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px;
  margin: 2px 0;
}

.main-bmi h3 {
  font-weight: bold;
}

.main-bmi p {
  padding: 0 10px;
}

.main-bmi p span {
  font-size: 20px;
}

.main-bmi a {
  color: #ff982d;
}

.t {
  border-left: 5px solid #31baf9;
}

.ok {
  border-left: 5px solid #86d73f;
}

.f {
  border-left: 5px solid #ff982d;
}

.sf {
  border-left: 5px solid #ff6c03;
}

.mf {
  border-left: 5px solid #ff6c03;
}

.lf {
  border-left: 5px solid #ff1200;
}

.footer {
  background-color: #ffd366;
  text-align: center;
}

.footer img {
  padding: 10px 0;
}

@media (max-width: 767px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-logo {
    width: 90%;
  }
  .main-bmi {
    width: 98%;
  }
  .main-bmi li,
  .main-bmi div,
  .main-bmi h3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=all.css.map */